.date-time{
  display: flex;
  width:60%;
}
.date{
  flex:1;
}
.time{
  flex:1;
}

.appointments-list{
  width:60%;
  background-color: ivory;
  margin: auto;

}
ul,li{
  list-style-type: none;
}
h1{
  text-align: center;
  padding: 15px;
  margin: 5px;
}
/* .header{
  background-color: green;
  color: white;
} */
