<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>create new appointment</h1>
    <div class="">
      <form action="/new" method="POST">
          <label for="">Date</label>
          <input type="text" name="date" />

          <label for="">Time</label>
          <input type="text" name="time" />

          <label for="">With</label>
          <input type="text" name="with" />

          <label for="">Where</label>
          <input type="text" name="location" />

          <label for="">Description</label>
          <input type="text" name="description" />

          <input type="submit" name="" value="ADD"/>
          <a href="/">Cancel</a>

      </form>
    </div>
  </body>
</html>
