<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign up Page</title>
  </head>
  <body>

    <%if(currentUser){ %>
      <h1>Welcome <%=currentUser.username%> </h1>
      <a href="/showAll">Go To My Appointments</a>

      <form action="/session?_method=DELETE" method="POST">
          <input type="submit" value="Logout" class="">
      </form>

    <%} else{%>
        <a href="users/newUser" class="">Sign up</a>
        <h3>or</h3>
        <a href="sessions/newSession" class="">Log In</a>
      <%}%>
  </body>
</html>
