<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign up Page</title>
  </head>
  <body>
    <a href="users/newUser" class="">Sign up</a>
    <h3>or</h3>
    <a href="/" class="">Log In</a>

  </body>
</html>
