<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign up Page</title>
    <% include ../partials/users_head.ejs %>
  </head>
  <body>
    <div class="container">
      <h3>Please Sign Up</h3>
      <div class="row">
        <form class="col s12" action="/" method="POST">
          <div class="row">
            <div class="input-field col s6">
              <label for="">username</label>
              <input type="text" name="username" value="" class="validate">
            </div>
          </div>

          <div class="row">
            <div class="input-field col s6">
              <label for="">password</label>
              <input type="password" name="password" value="" class="validate">
            </div>

          </div>


          <input type="submit" name="" value="Sign Up" class="waves-effect waves-light btn">

        </form>
      </div>

    </div>


  </body>
</html>
