<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign up Page</title>
  </head>
  <body>
    <h3>Please Sign Up</h3>
    <form class="" action="/" method="POST">
      <label for="">username</label>
      <input type="text" name="username" value="">

      <label for="">password</label>
      <input type="password" name="password" value="">

      <input type="submit" name="" value="SignUp">

    </form>

  </body>
</html>
